{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'profile_update' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-12">
                        <h5 class="form-title"><span>Profile Update</span></h5>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="col-12">
                        <div class="form-group">
                            <label>Profile Picture</label>
                            <div class="row align-items-center">
                                <div class="col-md-9">
                                    <input type="file" class="form-control" name="profile_pic" id="profile_pic">
                                </div>
                                <div class="col-md-2">
                                    {% if user.profile_pic == "" or not user.profile_pic %}
                                        <span class="user-img">
                                            <img src="{% static 'assets/img/noimg.png' %}" alt="No Profile Picture" class="img-thumbnail" style="max-width: 100; height: auto;">
                                        </span>
                                    {% else %}
                                        <span class="user-img">
                                            <img src="{{ user.profile_pic.url }}" alt="Profile Picture" class="img-thumbnail" style="max-width: 100; height: auto;">
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="col-md-1">
                                    {% if user.profile_pic %}
                                        <a href="{% url 'profile_delete' user.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete your profile picture?');">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" name="first_name" value="{{user.first_name}}">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="last_name" value="{{user.last_name}}">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email" value="{{user.email}}" readonly>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" value="{{user.username}}" readonly>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="text" class="form-control" name="password"
                                placeholder="Fill Only If You Want To Change Password">
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Update</button>
                        {% if user.user_type == '1' %}
                            <a href="{% url 'admin_home' %}" class="btn btn-secondary">Cancel</a>
                        {% elif user.user_type == '2' %}
                            <a href="{% url 'teacher_home' %}" class="btn btn-secondary">Cancel</a>
                        {% elif user.user_type == '3' %}
                            <a href="{% url 'student_home' %}" class="btn btn-secondary">Cancel</a>
                        {% elif user.user_type == '4' %}
                            <a href="{% url 'canteen_home' %}" class="btn btn-secondary">Cancel</a>
                        {% endif %}
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>

{% endblock %}