{% extends 'base.html' %}
{% block content %}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Canteen</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'view_canteen' %}">Canteen</a></li>
                <li class="breadcrumb-item active">Edit Canteen</li>
            </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
            <a href="{% url 'view_canteen' %}" class="btn btn-outline-primary mr-2"><i class="fas fa-times"></i> Cancel</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'update_canteen' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Canteen Information</span></h5>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Profile Picture</label>
                                <input type="file" class="form-control" name="profile_pic">
                                <input type="text" class="form-control" name="canteen_id" value="{% for i in canteen %}{{i.admin.id}}{% endfor %}" hidden>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="first_name" value="{% for i in canteen %}{{i.admin.first_name}}{% endfor %}">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="last_name" value="{% for i in canteen %}{{i.admin.last_name}}{% endfor %}">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email" value="{% for i in canteen %}{{i.admin.email}}{% endfor %}">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" value="{% for i in canteen %}{{i.admin.username}}{% endfor %}">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="text" class="form-control" name="password" placeholder="Fill Only If You Want To Change Password">
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Update Details</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}