{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Administrators</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Administrators</li>
            </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
            <a href="{% url 'add_admin' %}" class="btn btn-outline-primary mr-2"><i class="fas fa-plus"></i> Add
                Admin</a>
        </div>
    </div>
</div>
{% include 'includes/messages.html' %}
<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Created At</th>
                                <th>Last Login</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for admin in admins %}
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a class="avatar avatar-sm mr-2">
                                            {% if admin.profile_pic == "" or not admin.profile_pic %}
                                            <img class="avatar-img rounded-circle"
                                                src="{% static 'assets/img/noimg.png' %}" alt="No Profile Picture">
                                            {% else %}
                                            <img class="avatar-img rounded-circle" src="{{ admin.profile_pic.url }}"
                                                alt="Profile Picture">
                                            {% endif %}
                                        </a>
                                        <a>{{ admin.first_name }}&nbsp;{{ admin.last_name }}</a>
                                    </h2>
                                </td>
                                <td>{{ admin.email }}</td>
                                <td>{{ admin.username }}</td>
                                <td>{{ admin.date_joined}}</td>
                                <td>{{ admin.last_login }}</td>
                                <td class="text-right">
                                    <div class="actions">
                                        <a href="{% url 'edit_admin' admin.id %}"
                                            class="btn btn-sm bg-success-light mr-2">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a href="{% url 'delete_admin' admin.id %}" class="btn btn-danger btn-sm"
                                            onclick="return confirm('Are you sure you want to delete {{ admin.first_name }}&nbsp;{{ admin.last_name }}?');">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}